<ul ngbNav #nav="ngbNav" class="nav-tabs" *appUserRole="'User'">
  <h4>Deeper Signals</h4>
  <li ngbNavItem>
    <a ngbNavLink>admin section</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Dashboard</a>
    <ng-template ngbNavContent>

    </ng-template>
  </li>
</ul>





<div class="row">
  <div class="col-md-4 mt-2" *ngFor="let userAssessment of userAssessments">
    <div class="card align-items-center">
      <img class="card-img-top" src="{{userAssessment.image_url}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{userAssessment.name}}</h5>
        <p class="card-text">Resolved: {{userAssessment.users_resolved}}</p>
        <a (click)="onAssessmentSelected(userAssessment.id)" class="btn btn-primary">ID: {{userAssessment.id}}</a>
      </div>
    </div>
  </div>

</div>



<div style="display: block;" *ngIf="assessmentGraph.data">
  <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
  </canvas>
</div>

